body {
    background: url(./img3.jpg) no-repeat;
	background-attachment: fixed; 
	background-size: cover;
	align-items: center;
	justify-content: center;
	height: 100vh;
	font-family:Times New Roman;
}

#form-container {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
   
}

form {
    width: 300px;
    margin: 0 auto;
    height: 100%;
}

input, select {
    text-align: left;
    position: relative;
    display: block;
    width: 362px;
    height: 38px;
    margin-top: 13px;
    border: 2px solid;
    border-color: #9ea1a1;
    font-size: 12pt;
}

select {
    text-align: left;
    position: relative;
    display: block;
    width: 370px;
    height: 40px;
    margin-top: 13px;
    border: 2px solid;
    border-color: #c3cdc0;
}

select:focus {
    outline: 1px solid #79a06b;
    border: 1px solid #79a06b;
}

input:focus {
    outline: 1px solid #79a06b;
    border: 1px solid #79a06b;
}

.error {
    background-color: rgb(255, 128, 128);
    text-align: inherit;
    color: white;
    position: relative;
    display: none;
    width: 365px;
    height: 38px;
    margin-top: 13px;
    border: 2px solid;
    border-color: rgb(255, 128, 128);
}

#register-btn, #login-btn {
    background-color: #c6cfca;
    color: #000000;
    text-align: center;
    position: relative;
    display: block;
    width: 370px;
    height: 40px;
    margin-top: 3%;
    outline: none;
    border: 2px solid;
    border-color: #969795;
}

#register-btn:hover {
    background-color: rgb(107, 190, 182);
    color: rgb(212, 236, 236);
    font-size: 18px;
}

#login-btn:hover {
    background-color: rgb(107, 190, 182);
    color: rgb(212, 236, 236);
}

#login-form {
    display: none;
}

#register-link{
    display: none;
}

a{
    color: rgb(84, 172, 165);
}


.logo-img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}