body {
    background: url(../assets/18.png) no-repeat;
    background-attachment: fixed;
    background-size: cover;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: Times New Roman;
}

.command-viewer {
    display: block;
    width: 80vh;
    height: 20vh;
    background-color: rgb(255, 255, 255);
    margin: auto;
    color: #040faa;
    position: relative;
}

.command-header {
    text-align: center;
    margin: auto;
}

.command-text {
    position: absolute;
    top: 5%;
    left: 34%;
    font-size: 46pt;
}

.sounds, .sound-clips {
    display: block;
    width: 102vh;
    height: 15vh;
    margin: auto;
    margin-left: 50%;
    margin-top: 0;
    padding-top: 0;
    transform: translateX(5%);
}

.sounds h2 {
    position: absolute;
    padding-top: 0;
    margin-top:0;
    right:30px; 
}

.sounds-button {
    display: block;
    text-align: center;
    width: 25vh;
    height: 8vh;
    background-color:#040faa;
    color:white;
    border: 3px solid rgb(187, 227, 220);
    border-radius: 1px;
    margin-left:60%;
}

.sounds-button:hover {
    background-color: #1785b1;
    font-size: 130%;
}

#player {
    display: block;
    margin: auto;
}

h3 {
    text-align: center;
}

.random-reaction {
    left: 30%;
    position: absolute;
    align-items: center;
    margin: auto;
    display: block;
}

h5 {
    font-size: 150%;
}

/*emojis*/

.emoji {
    display: inline-block;
    --emoji-size: 150px;
    margin: 1rem;
    width: var(--emoji-size);
    height: var(--emoji-size);
}

.head:hover {
    background-color: #f8c238;
}

.head {
    border-radius: 50%;
    height: 100%;
    width: 100%;
    background-color: #FFC83D;
    overflow: hidden;
    position: relative;
}

.eyes {
    position: absolute;
    top: calc(var(--emoji-size)* .25);
    left: calc(var(--emoji-size)* .5);
}

.eye {
    position: absolute;
    width: calc(var(--emoji-size)* .075);
    height: calc(var(--emoji-size)* .15);
    background-color: black;
    border-radius: 50%;
}

.eye-left {
    left: calc(var(--emoji-size)* -.2);
}

.eye-right {
    right: calc(var(--emoji-size)* -.2);
}

.mouth {
    position: absolute;
    bottom: calc(var(--emoji-size) * .15);
    left: calc(var(--emoji-size) * .5);
    transform: translateX(-50%);
    background-color: black;
}

.mouth-happy {
    --mouth-height: calc(var(--emoji-size) * .3);
    width: calc(var(--emoji-size) * .6);
    height: var(--mouth-height);
    border-radius: 5% 5% var(--mouth-height) var(--mouth-height);
}

.mouth-o {
    width: calc(var(--emoji-size) * .25);
    height: calc(var(--emoji-size) * .3);
    border-radius: 50%;
}

.mouth-sad {
    --mouth-height: calc(var(--emoji-size) * .3);
    width: calc(var(--emoji-size) * .4);
    height: var(--mouth-height);
    border-radius: var(--mouth-height) var(--mouth-height) 5% 5%;
}

.btn-group {
    display: block;
    position: absolute;
    left:40%;
    top:30%;
    background-color: white;
    padding: 1% 1% 2% 2%;
    width: 20%;
}

.btn-group button {
    background-color: #040faa;
    border: 1px solid rgb(2, 0, 128);
    color: white;
    padding: 10px 24px;
    margin-top: 5%;
    cursor: pointer;
    width: 100%;
    height: 80%;
    display: block;
}

.btn-group button:not(:last-child) {
    border-bottom: none;
    /* Prevent double borders */
}

.btn-group button:hover {
    background-color: #1785b1;
}


.base-timer {
    position: absolute;
    top:20%;
    left:40%;
    height: 200px;
    width: 200px;
}