body{
    background: rgb(163,238,237);
    background: linear-gradient(90deg, rgba(163,238,237,1) 0%, rgba(251,251,251,1) 59%, rgba(249,213,255,1) 100%);
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.emoji {
    display: inline-block;
    --emoji-size: 150px;
    margin: 1rem;
    width: var(--emoji-size);
    height: var(--emoji-size);
}

.head:hover {
    background-color: #f8c238;
}

.head {
    border-radius: 50%;
    height: 100%;
    width: 100%;
    background-color: #FFC83D;
    overflow: hidden;
    position: relative;
}

.eyes {
    position: absolute;
    top: calc(var(--emoji-size)* .25);
    left: calc(var(--emoji-size)* .5);
}

.eye {
    position: absolute;
    width: calc(var(--emoji-size)* .075);
    height: calc(var(--emoji-size)* .15);
    background-color: black;
    border-radius: 50%;
}

.eye-left {
    left: calc(var(--emoji-size)* -.2);
}

.eye-right {
    right: calc(var(--emoji-size)* -.2);
}

.mouth {
    position: absolute;
    bottom: calc(var(--emoji-size) * .15);
    left: calc(var(--emoji-size) * .5);
    transform: translateX(-50%);
    background-color: black;
}

.mouth-happy {
    --mouth-height: calc(var(--emoji-size) * .3);
    width: calc(var(--emoji-size) * .6);
    height: var(--mouth-height);
    border-radius: 5% 5% var(--mouth-height) var(--mouth-height);
}

.mouth-o {
    width: calc(var(--emoji-size) * .25);
    height: calc(var(--emoji-size) * .3);
    border-radius: 50%;
}

.mouth-sad {
    --mouth-height: calc(var(--emoji-size) * .3);
    width: calc(var(--emoji-size) * .4);
    height: var(--mouth-height);
    border-radius: var(--mouth-height) var(--mouth-height) 5% 5%;
}

.command-header{
    position: absolute;
    top:9%;
    left: 40%;
    font-size: 40px;
    
}

.command-viewer{
    box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
    position: absolute;
    left:25%;
    width:35%;
    height:20%;
    margin-top:5%;
    margin-left: 5%;
    margin-right: 50%;
    text-align: center;
    padding-bottom: 5%;
    padding-top: 3%;
    background-color: white;
    border-radius: 3px;
    font-size: 40px;
}

.recording-buttons{
    position: absolute;
    top:60%;
    left:30.5%;

}

button{
    appearance:none;
    -webkit-appearance:none;
  
    padding:10px;
    border:none;
    background-color:#3F51B5;
    color:#fff;
    font-weight:600;
    border-radius:5px;
    width: 18rem;
    height: 3rem;
}

button:hover{
    background-color:rgb(105, 120, 204);
}


.soundsList{
    position: absolute;
    top:10%;
    left: 66%;
}

li{
    text-align: left;
}

.sounds-button{
    width: 300%;
}

.sound-name{
    display: block;
    text-align: center;
    line-height: 150%;
    font-size: .85em;

}

#default-sounds {
    position: absolute;
    left:66%;
    top:5%;
    font-size: 20px
}

#custom-sounds {
    position: absolute;
    display: none;
    left:84%;
    top:5%;
    font-size: 20px
}

.send-points{
    width: 100px;
    float: right;
    margin-right: 10px;
}

.user-el{
    margin-top: 30px;
    margin-bottom: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.users-in-event {
    box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06);
    position: absolute;
    width: 20%;
    position: absolute;
    top:15%;
    text-align: center;
    background-color: white;
    border-radius: 3px;
    padding-bottom: 5%;
    padding-top: 3%;
}

/*TODO: ADD SIMILIAR GRADIENT BACKGROUNDS TO THE OTHER PAGES*/
/*TODO: STYLE THE CUSTOM AUDIO SO THAT IT SHOWS THE SAME WAY AS THE OTHER ONE, BUT TO THE LEFT,*/
/*TODO: ADD CHECK IF THERE ARE CUSTOM SOUNDS AND DISPLAY THE HEADING CUSTOMSOUNDS ONLY THEN*/
/*TODO: ADD RANDOM SOUND GETTING PLAYED ON THE EMOJIS*/
/*todo: 
--advanced! 

make a query in the js to get all the users in this event, and display them in a list form to the left. Display them with a button send points. 
(for reference, see admin panel, send invite link.)
1. get users and display them
2. add the button send points
3. bind the button to a fetch, post data with the points in the js
4. add an endpoint file in the server base dir
5. add a query in the Data Access Layer(DAL) that Updates the user rating in the table users in the database
for reference see saveSeat.php + the corresponding query method that is called
*/

.random-reaction{
    position: absolute;
    top:65%;
    left:30%;
    font-size: 18px;
    text-align: center;
}

.base-timer {
    position: absolute;
    top:1%;
    left:46%;
    height: 100px;
    width: 100px;
}

.base-timer__label {
    width: 100px;
    height: 100px;
}


.blinking {
    font-size: 20px;
    animation: blinkingText 4s infinite;
}

@keyframes blinkingText {
    0% {
        color: #000;
    }
    49% {
        color: rgb(107, 120, 240);
    }
    60% {
        color: transparent;
    }
    99% {
        color: transparent;
    }
    100% {
        color: rgb(107, 120, 240);
    }
}

