button {
    appearance: none;
    -webkit-appearance: none;
    padding: 10px;
    border: none;
    background-color: #3F51B5;
    color: #fff;
    font-weight: 600;
    border-radius: 5px;
    width: 70%;
}

button:hover{
    background-color:rgb(105, 120, 204);
}

textarea  {
    padding: 10px;
    width: 70%;
    height: 200px;
    border: 0;
    font-size: 32px; 
    box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06);
}

.command-panel {
    box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06);
    position: absolute;
    width: 45%;
    margin-top: 5%;
    margin-left: 25%;
    margin-right: 10%;
    position: absolute;
    top:1%;
    text-align: center;
    padding-bottom: 5%;
    padding-top: 3%;
}