body {
    background: rgb(163, 238, 237);
    background: linear-gradient(-90deg, rgba(163, 238, 237, 1) 0%, rgba(251, 251, 251, 1) 59%, rgba(249, 213, 255, 1) 100%);
}

button {
    appearance: none;
    -webkit-appearance: none;
    padding: 10px;
    border: none;
    background-color: #3F51B5;
    color: #fff;
    font-weight: 600;
    border-radius: 5px;
    width: 70%;
    font-size: 115%;
}

button:hover {
    background-color: rgb(105, 120, 204);
}

textarea {
    padding: 10px;
    width: 70%;
    height: 200px;
    border: 0;
    font-size: 32px;
    box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06);
}

.command-panel {
    box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06);
    position: absolute;
    width: 45%;
    margin-top: 5%;
    margin-left: 25%;
    margin-right: 10%;
    position: absolute;
    top: 1%;
    text-align: center;
    padding-bottom: 5%;
    padding-top: 3%;
    background-color: rgb(254, 220, 255);
    box-shadow: 0px 0px 13px 1px #8f8989;
}