body{
  background: rgb(237,182,227);
background: linear-gradient(90deg, rgba(237,182,227,1) 0%, rgba(252,249,255,1) 50%, rgba(237,182,227,1) 100%);

}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: auto;
    margin-top: 5%;
    padding: 20px;
    border: 1px solid #888;
    width: 40%;
    height: 60%;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover, .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.tooltip {
    position: relative;
    display: inline-block;
  }
  
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 140px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 150%;
    left: 50%;
    margin-left: -75px;
    opacity: 0;
    transition: opacity 0.3s;
  }
  
  .tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
  }
  
  .tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
  }

  .create-event-left, .view-events-center, .view-users-right {
    box-shadow:0 0 15px 4px rgba(202, 27, 27, 0.06);
    position: absolute;
    width:25%;
    margin-top:5%;
    margin-left: 5%;
    margin-right: 50%;
    text-align: center;
    padding-bottom: 5%;
    padding-top: 3%;
    background-color: rgb(255, 255, 255);
    border: 1px solid blue;

  }

  #create-text{
    text-align: left;
    margin-left: 50px;
  }

  input, textarea, h1 {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: inherit;
  }

  input[type=text], input[type=date] {
    padding:10px;
    width: 70%;
    border:0;
    box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
  }

  input[type=submit] {

    /* remove default behavior */
    appearance:none;
    -webkit-appearance:none;
  
    padding:10px;
    border:none;
    background-color:#3F51B5;
    color:#fff;
    font-weight:600;
    border-radius:5px;
    width:70%;
  }

  button {

    appearance:none;
    -webkit-appearance:none;
  
    padding:10px;
    border:none;
    background-color:#3F51B5;
    color:#fff;
    font-weight:600;
    border-radius:5px;
    width: 20rem;
    height: 3rem;
  }

  
ul {
  list-style: none;
  position: relative;
  right:8%;
}


  input[type=submit]:hover {
    background-color:rgb(105, 120, 204);
  } 

  #statistics {
    position: absolute;
    top:70%;
    left: 40%;
    margin: auto;
    font-size: 17px;
  }
  #statistics:hover{
    background-color: rgb(105, 120, 204);
  }

  #copy-link, #go-to-event {
    padding:0;
    float: inline-end;
    margin-top: 30%;
    margin-left: 55%;
}

#go-to-event {
  margin-top: 1%;
  left:50%;
}

#copy-link:hover{
  background-color:rgb(105, 120, 204);
}

#go-to-event:hover{
  background-color:rgb(105, 120, 204);
}

section {
  overflow:hidden; 
}
.view-events-center{
  position: absolute;
  top:1%;
  margin-left: 34%;
  padding-left:3%;
  text-align: left;
}

.view-users-right{
  position: absolute;
  top:1%;
  margin-left: 66%;
  padding-left:3%;
  text-align: left;
}

.invite, .admin {
  appearance:none;
  -webkit-appearance:none;

  font-weight:400;
  border-radius:5px;
  width: 5.5rem;
  height: 2rem;
  display: inline-flex;
}

.invite:hover{
  background-color:rgb(105, 120, 204);
}

.admin:hover{
  background-color:rgb(105, 120, 204);
}

.list {
  box-shadow:0 0 5px 1px rgba(0,0,0,0.06);
  position: relative;
  margin: auto;
  padding-top: 2%;
}